html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  padding-top: 30px;
  background-color: #eee;
}
.footer {
  font-size: 12px;
  /* Set the fixed height of the footer here */
  z-index: 3;
}

.footer-right {
    float: right;
}
.container .text-muted {
  margin: 10px 0;
}
.pickContainer {
  text-align: left;
  /* border: 3px solid blue; */
}
.pickTable {
  text-align: left;
  font-size: x-small;
  /* position: absolute; */
}
.pickTable td {
  padding: 2px;
  vertical-align: middle;
}
.pickTable td.pickDay {
    font-size: 16px;
    font-weight: 600;
    padding-top:  12px;
}
.teamCell {
  font-size: medium;
  border: 1px solid DarkGray;
  border-radius: 4px;
  cursor:  pointer;
}
.teamCell:hover,
.teamCell.picked:hover,
.teamCell.notPicked:hover {
  background-color: LightGray;
}
/*.teamCell.away:hover {
  background-color: #e7e7e7;
}*/
.teamCell.away {
    text-align: right;
    padding-right:  2px;
    cursor:  pointer;
}
.teamCell.home {
    text-align: left;
    padding-left:  2px;
    cursor:  pointer;
}
.teamCell.picked {
    color:green;
    background-color:LightGray;
    cursor:  pointer;
}
.teamCell.notPicked {
    color:black;
    background-color:#eee;
    cursor:  pointer;
}
.scoreCell {
  font-size: small;
}
.dayCell {
  font-size: small;
}
.timeCell {
  font-size: x-small;
}
.expiresIn {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
    border-radius: 2px;
    font-weight: bold;
    word-wrap: break-word;
    width: auto;
    padding: 0px;
    margin-right: 2px;
    /*float: left; */
}
.weekSelector > li > a {
  padding-top: 4px;
  padding-bottom: 0;
  height: 28px;
}
.weekSelector {
  min-height: 28px;
  top: 50px;
  z-index: 1029;
}
.weekSelector-text {
  margin-top: 3px;
  margin-bottom: 0px;
  position: absolute;
  top: 6px;
  left: 10px;
}
@media (min-width: 768px) {
  .weekSelector-text {
    display: none;
  }
}
.navbar-inverse .weekSelector-text {
  color: #9d9d9d;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #333;
  background-color: #e7e7e7;
}
.comingSoon {
    text-align:  right;
    vertical-align: bottom;
    height:  30px;
    position:  absolute;
    right: 0;
    bottom:  0;
    z-index: 1500;
}
.progress-table {
    text-align:  right;
    vertical-align: top;  
    width: 100%;  
}
.progress-table th {
    /* border: 1px solid black; */
    font-size: 12px;
    text-align: right;
    vertical-align: middle; 
}
.progress-table td {
    vertical-align: top;
    /* border: 1px solid black; */
}
.progress-table th.winner {
    text-align: center;
    width: 60px;
}
.progress-table td.winner {
    text-align: center;
    width: 60px;
    vertical-align: top;
}
.progress-table th.score {
    text-align: center;
    width: 60px;
}
.progress-table td.score {
    text-align: center;
    width: 60px;
    vertical-align: top;
}
.progress-table th.timestamp {
    text-align: center;
    width: 80px;
}
.progress-table td.timestamp {
    font-size: 10px;
    text-align: center;
    width: 80px;
    vertical-align: top;
}
.progress-table th.user {
    text-align: right;
    width: 100px;
    padding-right:  8px;
}
.progress-table td.user {
    text-align: right;
    width: 100px;
    vertical-align: top;
}
.progress-table th.points {
    text-align:  left;
}
.progress-table td.points {
    text-align:  left;
    vertical-align: middle;
}
.progress-table td {
    text-align: right;
    vertical-align: middle; 
}
.progress-label {
  min-width: 100px;
  float: left;
  text-align: right;
  padding-right: 8px;
}
.form-signin {
  max-width: 330px;
  /*padding: 15px;*/
  margin: 0 auto;
}
.form-signin .form-control {
  /*margin:  4px auto; */
  /* height:  46px; */
}
.form-control.email {
    margin-bottom:  4px;
}
.form-control.password {
    border-radius: 3px 3px 3px 3px;
}
.btn.login {
    margin-top: 4px;
}
.btn-forgot {
  /* font-size: 8px; */
  /* margin-bottom: 4px; */
  background-color: #eee;
  color: DarkGray;
  cursor: pointer;
  /* padding: 4px; */
}
.glyphCell {
    cursor: pointer;
    font-size: 20px;
}
.glyphicon {
    vertical-align:  -2px;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -ms-animation: spin .7s infinite linear;
    -webkit-animation: spinw .7s infinite linear;
    -moz-animation: spinm .7s infinite linear;
}
@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
@-webkit-keyframes spinw {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}
@-moz-keyframes spinm {
    from { -moz-transform: rotate(0deg);}
    to { -moz-transform: rotate(360deg);}
}
.unitSelector {
    
}

.statsContainer {
    
}
/*
    .statsContainer {
    
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform:  translate(-50%, -50%);
    margin-bottom: 50px;
    width: 75%;
}*/
.item {
    text-align: center;
    /*background-size: 100%;*/
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px; 
}
@media (min-width: 768px) {
  .item {
        height: 200px; 
    }
}
.statsTitle {
    color: White;
    background-color: rgba(255, 102, 0, 0.50);
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 2px;
    margin-top: 0;
    margin-bottom: 4px;
    width: 100%;
}
/*
    .statsTitle {
    color: White;
    background-color: rgba(255, 102, 0, 0.50);
    font-size: 20px;
    font-weight: bold;
    padding: 2px;
    border: 1px solid white;
    border-radius: 8px;
    -moz-border-radius: 8px;
    margin-top: 0;
    margin-bottom: 4px;
    width: 100%;
}*/
.statsTable {
    color: white;
    background-color: rgba(0, 0, 0, 0.50);
    margin:  0 auto;
    text-align: center;
    /*width:  100%;*/
    /*border: 1px solid white;*/
    border-spacing: 0;
    border-collapse: separate;
    border: 1px solid white;
    border-radius: 8px;
    -moz-border-radius: 8px;
}
.statsTable th {
    background-color: rgba(255, 255, 255, 0.50);
    text-align: center;
    vertical-align:  bottom;
    padding:  0 4px;  
    border-bottom: 1px solid white;
}
.statsTable td {
    padding:  0 8px;  
}
.carousel img {
    opacity:  1;
    min-width: 100%;
    height: 200px;
    z-index: -1;
}
/*.carousel-caption {
    height: 250px;
    margin:  0 auto;
    position: absolute;
    top:  0;
    overflow:  auto;
}*/
@media (max-width: 600px) {
    .stats {
        font-size: 10px;
    }
    .statsTable {
        font-size: 10px;
    }
}
.categoryTitle {
    font-size: 14px;
    font-weight: bold;
}
.categoryContent {
    font-size: 12px;
}
.topicTitle {
    font-size:  14px;
    margin-top: 0px;
    margin-bottom:  0px;
}
.topicContent {
   font-size: 12px; 
   padding: 0px 0px 0px 10px;
   margin: 0px 0px 0px 10px;
}
.posts {
    margin: 0px;
}
.postContent {
   font-size: 12px; 
   padding: 0px 0px 0px 10px;
   margin: 0px 0px 0px 10px;
}
.popover-markup {
    z-index: 4;
}